[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ards"]
	path = ards
	url = https://github.com/dbosak01/ards
[submodule "common"]
	path = common
	url = https://github.com/dbosak01/common
[submodule "defineR"]
	path = defineR
	url = https://github.com/dbosak01/definer
[submodule "fetch"]
	path = fetch
	url = https://github.com/dbosak01/fetch
[submodule "fmtr"]
	path = fmtr
	url = https://github.com/dbosak01/fmtr
[submodule "libr"]
	path = libr
	url = https://github.com/dbosak01/libr
[submodule "logr"]
	path = logr
	url = https://github.com/dbosak01/logr
[submodule "pkgdiff"]
	path = pkgdiff
	url = https://github.com/dbosak01/pkgdiff
[submodule "procs"]
	path = procs
	url = https://github.com/dbosak01/procs
[submodule "reporter"]
	path = reporter
	url = https://github.com/dbosak01/reporter
[submodule "sassy"]
	path = sassy
	url = https://github.com/dbosak01/sassy
